Repository andrey18106/pillow_heif: changes, and which Cirrus tasks are due for each by the changed paths.
All: Build from source(macOS) / macOS:12-arm64, test_src_build_linux_arm

Build from source(macOS) / macOS:12-arm64:
  macos_instance:
    image: ghcr.io/cirruslabs/macos-monterey-xcode
  brew_install_libheif_script:
  - brew uninstall --force --ignore-dependencies imagemagick
  - brew install --formula ./libheif/macos/libheif.rb
  installing_pillow_heif_script:
  - python3 -m pip -v install ".[dev]"
  libheif_info_script:
  ...

test_src_build_linux_arm:
  matrix:
  - name: Build from source(Linux) / Alpine
    compute_engine_instance:
      image_project: cirrus-images
      image: family/docker-builder-arm64
      architecture: arm64
      platform: linux
      cpu: 4
      memory: 4G
    Alpine_3_15_build_script:
  ...

dev, cirrus
  .cirrus.yml
  .github/CONTRIBUTING.md
  .github/workflows/analysis-coverage.yml
  .github/workflows/build-cache-deps.yml
  .github/workflows/nightly-src-build.yml
  .github/workflows/publish-pypi-pi_heif.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/test-src-build-linux.yml
  pyproject.toml
Due: Build from source(macOS) / macOS:12-arm64, test_src_build_linux_arm

dev, cirrus
  .cirrus.yml
  .github/workflows/analysis-coverage.yml
Due: Build from source(macOS) / macOS:12-arm64, test_src_build_linux_arm

dev, cirrus
  .cirrus.star
  .cirrus.yml
  .pre-commit-config.yaml
  MANIFEST.in
  ci/cirrus_general_ci.yml
  ci/cirrus_wheels.yml
Due: Build from source(macOS) / macOS:12-arm64, test_src_build_linux_arm

dev, cirrus
  pillow_heif/_version.py
Due: none

dev, cirrus
  .pre-commit-config.yaml
Due: none

dev, cirrus
  .cirrus.star
  libheif/macos/libheif.rb
Due: Build from source(macOS) / macOS:12-arm64

dev, cirrus
  .github/workflows/analysis-coverage.yml
  pi-heif/libheif/macos/libheif.rb
Due: none

dev, 0.9.2
  .github/workflows/test-src-build-windows.yml
  libheif/windows/mingw-w64-libheif/PKGBUILD
  pi-heif/libheif/windows/mingw-w64-libheif/PKGBUILD
Due: none

dev, 0.9.2
  .github/workflows/test-src-build-windows.yml
Due: none

dev, 0.9.2
  .github/workflows/test-src-build-windows.yml
  tests/options_test.py
Due: none

dev, 0.9.2
  README.md
  pi-heif/README.md
Due: none

dev, 0.9.2
  .github/workflows/test-src-build-macos.yml
Due: none

dev, 0.9.2
  .github/workflows/test-src-build-macos.yml
  ci/cirrus_general_ci.yml
Due: none

dev, 0.9.2
  ci/cirrus_general_ci.yml
Due: none

dev, 0.9.2, linux src
  .cirrus.star
  .github/transform_to-pi_heif.py
  .github/workflows/test-src-build-linux.yml
  ci/cirrus_general_ci.yml
  pi-heif/setup.cfg
Due: none

dev, 0.9.2, linux src
  .github/workflows/test-src-build-linux.yml
  ci/cirrus_general_ci.yml
  docker/from_src/Alpine_3_15.Dockerfile
  docker/from_src/Alpine_3_17.Dockerfile
  docker/from_src/Debian_11.Dockerfile
  docker/from_src/Ubuntu_22_04.Dockerfile
Due: none

dev, 0.9.2, linux src
  .github/workflows/test-src-build-linux.yml
  .github/workflows/test-src-build-macos.yml
  .github/workflows/test-src-build-windows.yml
  ci/cirrus_general_ci.yml
  docker/from_src/Alpine_3_15.Dockerfile
  docker/from_src/Alpine_3_17.Dockerfile
  docker/from_src/Debian_11.Dockerfile
  docker/from_src/Ubuntu_22_04.Dockerfile
Due: none

dev, 0.9.2, 1.14.1
  .github/workflows/analysis-coverage.yml
  .github/workflows/test-src-build-macos.yml
  libheif/linux_build_libs.py
  pi-heif/setup.cfg
  tests/basic_test.py
Due: test_src_build_linux_arm

dev, 0.9.2, 1.14.1
  .github/workflows/analysis-coverage.yml
  .github/workflows/nightly-src-build.yml
  .github/workflows/test-src-build-linux.yml
  libheif/linux_build_libs.py
Due: test_src_build_linux_arm

dev, 0.9.2, 1.14.1
  .github/workflows/analysis-coverage.yml
Due: none

dev, 0.9.2, 1.14.1
  .github/workflows/analysis-coverage.yml
  .github/workflows/test-src-build-linux.yml
  .github/workflows/test-src-build-macos.yml
  .github/workflows/test-src-build-windows.yml
Due: none

Path conditions:
  Build from source(macOS) / macOS:12-arm64: any of: .cirrus.yml, libheif/macos/**, libheif/build.py, libheif/public_api.h, setup.*, pyproject.toml
  test_src_build_linux_arm: any of: .cirrus.yml, libheif/linux/**, libheif/linux_*.py, libheif/build.py, libheif/public_api.h, setup.*, pyproject.toml
